@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Quicksand');

// $cheesy: #ebe1bf;
//
// $primary: darken($cheesy, 30%);
// $family-sans-serif: "Quicksand", sans-serif;
// $navbar-background-color: $cheesy;
// $navbar-item-hover-background-color: darken($cheesy, 10%);
//
// $column-gap: 0.25rem;
//
// $control-radius: 0;
// $control-radius-small: 0;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";

* {
}
$time: 15s;

html {
  height: 100vh;
}

.background {
  // background: radial-gradient(1000px at 75% -75%, rgba(238, 37, 9, 0.9), rgba(250, 125, 69, 0.5));
  background-color: #5b4045;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

@keyframes blink {
  0% {
    border: 0px solid rgba(255, 255, 255, 0.0);
    background: rgba(255, 255, 255, 1.0);
    transform: rotate(0deg) scale(.25);
  }
  25% {
    border: 200px solid rgba(255, 255, 255, 1.0);
    background: rgba(255, 255, 255, 0.0);
    transform: rotate(360deg) scale(1) skew(5deg);
  }
  100% {
    border: 0px solid rgba(255, 255, 255, 0.0);
    background: rgba(255, 255, 255, 1.0);
    transform: rotate(0deg) scale(.25);
  }
}

.circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: -200px;
  transform-origin: 75% 50%;
  animation: blink $time infinite ease-in-out;
}

.circle:nth-child(2) {
  height: 290px;
  width: 90px;
  animation: blink $time infinite 1s ease-in-out reverse;
}

.circle:nth-child(3) {
  height: 195px;
  width: 195px;
  animation: blink $time infinite 1.5s ease-in-out;
}

.date {
  padding-top: 25px;
  font-style: 400;
  font-size: 13px;
  text-align: center;
  color: #bcbcbc;
}

.card-image {
  .image {
    height: 300px;
    justify-content: center;
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#logo {
  text-align: center;
  font-size: 4rem;
  font-family: 'Baloo Thambi', cursive;
  color: black;
}

.card {
  min-height: 550px;
  width: 400px;
}

.card-header-title {
  min-height: 75px;
}

div.content {
  p:nth-child(1) {
    font-weight: bold;
  }
}

h1.title {
  background-color: #5b4045;
  color: white;
}

.title-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 700px;
}

div.columns.row {
  flex-direction: column;
  justify-content: center;
  .image {
    justify-content: center;
    display: flex;
  }
}

.home-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 800px;
  height: 90vh;
  #subtitle {
    color: white;
    text-align: center;
  }
}

.temp-div {
  background-color: #5b4045;
  display: flex;
  padding: 16px 10px;
  justify-content: center;
  margin-bottom: 20px;
  h1 {
    color: white;
    align-items: center;
    display: flex;
  }
  h1:nth-child(2) {
    flex-grow: 1;
    justify-content: center;
    display: flex;
  }
  h1.title.is-2 {
    margin-bottom: 0;
  }
}

select {
  height: 50px;
  font-size: 20px;
  background-color: white;
  border: none;
  text-align: center;
  text-align-last:center;
}

select:hover, .button:hover {
  color: #5b4045;
  background-color: black;
}

option {
  text-align: center;
}

.button {
  border: none;
  height: 35px;
  font-size: 20px;
  color: black;
}

.home-form {
  justify-content: center;
  display: flex;
  select {
    height: 35px;
  }
}

.navbar {
  align-items: center;
  display: flex;
  .navbar-item {
    .button {
      margin: 0;
    }
  }
}

.buttons:not(:last-child) {
  margin-bottom: 0;
}

.form-center {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
